.swiper {
  width: 100%;
  height: 680px;

  @media (min-width: @tablet-width) {
    height: 828px;
  }

  @media (min-width: @desktop-width) {
    height: 714px;
  }

  &__pagination {
    display: none;

    @media (min-width: @desktop-width) {
      display: block;
    }
  }

  &__button {
    color: @color-primary;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    width: 20px;
  }
}