@tablet-width: 768px;
@desktop-width: 1440px;
@mobile-width-only: 320px;
@color-white: #FFFFFF;
@color-base-black: #333333;
@color-primary: #7859CF;
@color-primary-light: #F0EBFF;
@color-beige: #F3EBE1;
@color-lavender: #F3EBE1;
@color-gray: #E5E6E8;
@color-lavander-background: #EAE6FC;
@color-gray-catalog: #F8F8F8;
@color-background-map: #d8e0e1;
@color-range-bar: #E2E2E2;